*,
*:before,
*:after {
    box-sizing: border-box;
}
hr {
    border:0;
    background-color: #222222;
    display: block;
    width:100%;
    height:1px;
    margin: 40px 0;
}
body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    background-color:#000;
    line-height:1.6;
}
.container {
    width:100%;
    max-width:1200px;
    margin: 0 auto;
}
.intro {
    width:100%;
    height:100vh;
    background:url("../images/back.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
}
/*.header */
.header {
    position:fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1;
    padding-top: 10px;
    padding-bottom:10px;
    transition: .5s;
    background-color: rgba(0,0,0,.5);
}

.header_logo {
    font-size:45px;
    font-weight:700;
    color:#fff;
    cursor:pointer;
}
.nav {
    font-size: 20px;
    text-transform: uppercase;
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin:0 20px;
    color:#fff;
    text-decoration:none;
    cursor:pointer;
    transition: color .2s linear;
    position: relative;
}
.nav_link:after {
    content:"";
    display: block;
    width:0;
    height:2px;
    background-color: #fff;
    position: absolute;
    top:100%;
    left:0;
    z-index:1;
    transition: width .3s;
}
.nav_link:hover:after {
    width:100%;
    transition: width  .3s;
}
/*.intro */
.header_inner {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.nav_link:hover {
    color:#dcdcdcdc;
}

.intro_title {
    font-size: 80px;
    font-weight:700;
    text-transform: uppercase;
    text-align: center;
    align-items:center;
    letter-spacing: 0.2em;
    color:#fff;
    animation-name:title-appearance;
    animation-duration: 3s;
}

.intro_title:hover {
    transition: 0.4s  ease-out;
}
.btn_scroll {
  position: absolute;
  width: 50px;
  height:70px;
  left:50%;
  top:85%;
  cursor: pointer;
  animation: arrow_apperance 3s;
}
.btn_scroll span{
    display: block;
    width:35px;
    height:35px;
    margin:-10px;
    border:none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    animation:arrow_transition 2s  infinite;
    transform:rotate(45deg);
}
.btn_scroll span:nth-child(2) {
 animation-delay: -0.2s;
}
.btn_scroll span:nth-child(3) {
    animation-delay: -0.4s;
}
/*.Section_about*/
#section_about {
    padding:80px 0;
}
.section_header {
    color:#fff;
    margin-bottom:40px;
    width:100%;
    max-width:950px;
    margin:0 auto 40px;
    text-align:center;
}
.section_suptitle {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:24px;
    font-weight: 100;
}
.section_title {
    font-size:40px;
    letter-spacing: 10px;
    font-weight:700;
    text-transform: uppercase;
}
.section_title:after {
    content:"";
    display:block;
    width:200px;
    height:3px;
    background-color: #fff;
    margin:30px auto 60px ;
}
.section_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    color:#ccc;
}
/*card*/
.card {
    padding-top:20px;
    display: flex;
    justify-content: space-between;
}
.card_item {
    width: 300px;
}
.card_info {
    padding-top:20px;
}
.card_name {
    color:#fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:22px;
    text-transform: uppercase;
}
.card_prof {
    color:#999999;
    font-size: 18px;
    font-style: italic;
}
.card_item:hover .card_image  {
    transform: translate3d(-10px,-10px,0);
}
.card_item:hover .card_image img {
    opacity: .1;
}
.card_item:hover .card_text {
    opacity:1;
}
.card_image {
    background: linear-gradient(to bottom,#12affc,#4a5658);
    transition:transform .2s linear;
}
.card_image img {
    transition: opacity .3s linear;
    display: block;
}
/*card_text*/
.card_text {
    opacity:0;
    color:#fff;
    text-transform: uppercase;
    font-weight:700;
    font-size:25px;
    text-align: center;
    position: absolute;
    top:50%;
    z-index:2;
    left:0;
    transform:translate3d(0,-50%,0);
    width: 100%;
    transition: opacity .2s linear;
}
.card_inner {
    background-color: #87CEEB;
    position: relative;

}
/*Section_service*/
#section_white_bc {
    padding:120px 0;
    background-color:#fff;
}
.section_header_white_bc {
    color:#222222;
    margin-bottom:40px;
    width:100%;
    max-width:950px;
    margin:0 auto 40px;
    text-align:center;

}
#section_title_white_bc{
    font-size:40px;
    letter-spacing: 10px;
    font-weight:700;
    text-transform: uppercase;
}
.section_title_white_bc:after {
    content:"";display:block;
    width:200px;
    height:3px;
    background-color: #000;
    margin:30px auto 60px ;
}
/*services*/
.services {
    display:flex;

}
.services_item {
    flex:1 1 0;
    padding-left:90px;
    padding-right: 10px;
    position: relative;
    padding-top:30px;
    padding-bottom: 30px;

}    
.services_icon {
    position: absolute;
    left:20px;
    z-index:1;
    width: 100%;
    max-width:48px;
}
.services_title {
    font-size:20px;
    color:#222;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services_text {
    text-align:justify;
    font-size:18px;
    color:#333;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Social-media*/
.social-media{
    display: flex;
    justify-content:center;
}
.social_item{
    background-color: #fff;
    text-decoration: none;
    color:#008B8B;
    font-size:35px;
    border-right:1px solid #008B8B;
    padding:12px 10px;
    line-height:1px;
    width: 55px;
    height:55px;
    transition: background .1s linear, color .1s linear;
}
.social_item:last-child {
    border-right:0;
}

.social_item:hover {
    color:#fff;
    background-color:#008B8B;
    
}
/*LOGOS*/
.logos {
display: flex;
justify-content: space-between;
width:100%;
max-width:200px;
}
.logos_item {
    width:100%;
    max-width:200px;
}


/*Team*/
.section_text_white_bc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    color:#333;
}
/*Works*/
#section_projects {
    padding:120px 0;
    background-color:#fff;
}
.works {
    display:flex;
    margin:0 50px;
    justify-content: space-between;
}
.works_item {
    width:100%;
    max-width:450px;
    position: relative;
    background: linear-gradient(to bottom,#12affc,#4a5658);
}
.works_item:hover .works_img {
    opacity: .1;
}
.works_item:hover .works_info {
    opacity: 1;
}
.works_img {
    display:block;
    transition: opacity .2s linear;
    text-align: center;
}
.works_info {
    width:100%;
    position: absolute;
    top:50%;
    left:0;
    padding:0 15px;
    color:#fff;
    transform: translate3d(0,-50%,0);
    opacity:0;
    transition: opacity .2s linear;
}
.works_title {
    color:#fff;
    font-size:22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:5px;
}
.works_text {
    font-size:16px;
    text-align:center;
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Contact*/
#section_contact {
    padding:80px 0; 
}
.contact {
    padding-top:60px;
    display:flex;
    margin:0 50px;
    justify-content: space-around;
    align-items:center;
}

.contact_item {
    position: relative;
    background-color: #000;
    text-decoration: none;
    color:#008B8B;
    font-size:60px;
    padding:12px;
    line-height:1px;
    width:100%;
    max-width:80px;
    height:100%;
    transition: background .1s linear, color .1s linear;
  text-align: center;
}
.contact_item:hover {
    color:#fff;
}
.contact_item:after{
    content:"";
    display: block;
    width:0;
    height:2px;
    background-color: #fff;
    position: absolute;
    top:150%;
    left:0;
    z-index:1;
    transition: width .3s;
}
.contact_item:hover:after {
    width:100%;
    transition: width  .3s;
}
/*Contact phone & adress*/
.contact_pa {
    padding-top:100px;
    display:flex;
    margin:0 50px;
    justify-content:center;
}
.contact_text {
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#dcdcdcdc;
    margin:0 5px;
}
.contact_item_pa {
    font-size: 20px;
    color:#008B8B;
    margin:0 20px;
}
/*Animations*/
@keyframes arrow_apperance {
    0% {
        opacity: 0;
    }

    30% {
        opacity:0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes arrow_transition {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-35px,-35px);
    }
    50%{
        opacity: 1;
        transform: rotate(45deg) translate(-35px,-35px);
   }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(35px,35px);
    }
}

@keyframes title-appearance{
    0% {
        opacity: 0;
    }

    30% {
        opacity:0;
    }

    100% {
        opacity: 1;
    }
}